#Grid {
    display: grid;
    padding: 5px;
    width: 600px;
    height: 600px;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    /* grid-template: 1fr 1fr 1fr / repeat(3, 1fr); */
    background-color: black;
    color: black;
}


.Cell {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    /* color: transparent; */
}

.path {
    background-color: rgb(0, 133, 133);
    border: 1px solid black;
}

.barrier {
    background-color: rgb(3, 3, 51);

}

.discoverable {
    background-color: rgb(177, 177, 177);
    border: 1px solid black;
}

.explored {
    background-color: red;
    border: 1px solid black;
}

.visited {
    background-color: rgb(62, 219, 62);
    border: 1px solid black;
}

.start {
    background-color: rgb(141, 4, 88);
    border: 1px solid rgb(255, 255, 255);
}

.target {
    background-color: rgb(8, 59, 79);
    border: 1px solid rgb(250, 242, 3);
}